* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #3ebaf0, #5fa2b3, #4e7883, #95d2ec);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-button {
  border: none;
  border-radius: 15px;
  color: rgb(71, 69, 69);
  font-weight: 700;
  background-color: transparent;
}

.container {
  position: relative;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  width: 600px;
  height: 300px;
  background-image: url(./images/background.jpg);
  background-position: center;
  /*
  Photo by Taylor Van Riper 
  https://unsplash.com/@taylorvanriper925?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
  */

  cursor: pointer;
}

.card-title {
  position: absolute;
  left: 5%;
  top: 10%;
}

.chip {
  position: absolute;
  left: 8%;
  top: 35%;

  border-radius: 7px;
}

.card-number {
  position: absolute;
  left: 5%;
  top: 65%;

  font-size: 24px;
  letter-spacing: 0.06em;
}

.card-valid {
  position: absolute;
  left: 5%;
  top: 74.5%;
  font-size: 10px;
}

.card-date {
  position: absolute;
  left: 5%;
  top: 78%;

  font-size: 20px;
}

.card-name {
  position: absolute;
  left: 5%;
  top: 85%;
  font-size: 22px;
}

.card-pay {
  position: absolute;
  left: 85%;
}

.card-logo {
  position: absolute;
  left: 72%;
  top: 63%;
}

.container.flip {
  animation: flip 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.container.flip-back {
  animation: flip-back 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.disappear {
  transition: 0.5s;
  transition-delay: 0.45s;
  opacity: 0;
}

.appear {
  transition: 0.5s;
  transition-delay: 0.45s;
  opacity: 1;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes flip {
  0% {
    transform: translateZ(0) rotateY(0);
  }
  100% {
    transform: translateZ(160px) rotateY(180deg);
    background-image: url(./images/background-back.jpg);
  }
}

@keyframes flip-back {
  0% {
    transform: translateZ(160px) rotateY(180deg);
    background-image: url(./images/background-back.jpg);
  }

  100% {
    transform: translateZ(0) rotateY(0);
    background-image: url(./images/background.jpg);
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100vw;
  }
}
