* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  animation: gradient 20s ease infinite;
  background: linear-gradient(
    -45deg,
    #89cff0,
    #5076bd,
    #0096ff,
    #5076bd,
    #89cff0
  );
  background-size: 600% 600%;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container {
  background-image: url(./images/background.jpg);
  background-position: center;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
  height: 300px;
  max-width: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card-title {
  left: 5%;
  position: absolute;
  top: 10%;
}

.chip {
  border-radius: 7px;
  left: 8%;
  position: absolute;
  top: 35%;
}

.card-number {
  font-size: 24px;
  left: 5%;
  letter-spacing: 0.06em;
  position: absolute;
  top: 65%;
}

.card-valid {
  font-size: 10px;
  left: 5%;
  position: absolute;
  top: 74.5%;
}

.card-date {
  font-size: 20px;
  left: 5%;
  position: absolute;
  top: 78%;
}

.card-name {
  font-size: 22px;
  left: 5%;
  position: absolute;
  top: 85%;
}

.card-pay {
  left: 85%;
  position: absolute;
}

.card-logo {
  left: 72%;
  position: absolute;
  top: 63%;
}

.container.flip {
  animation: flip 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.container.flip-back {
  animation: flip-back 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.disappear {
  opacity: 0;
  transition: 0.5s 0.45s;
}

.appear {
  opacity: 1;
  transition: 0.5s 0.45s;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes flip {
  0% {
    transform: translateZ(0) rotateY(0);
  }
  100% {
    background-image: url(./images/background-back.jpg);
    transform: translateZ(160px) rotateY(180deg);
  }
}

@keyframes flip-back {
  0% {
    background-image: url(./images/background-back.jpg);
    transform: translateZ(160px) rotateY(180deg);
  }

  100% {
    background-image: url(./images/background.jpg);
    transform: translateZ(0) rotateY(0);
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100vw;
  }
}
